%title {
    font-size: 64px;
    font-family: $--font-family-heading;
    font-weight: normal;
}

%subtitle {
    font-size: 32px;
    font-family: $--font-family-heading;
    font-weight: normal;
}

%textCenter {
    text-align: center;
}

%btn {
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;

    transition: transform .3s ease;

    &:hover {
        transform: scale(1.05);
    }
}