%title {
    font-size: 64px;
    font-family: $--font-family-heading;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-weight: normal;

    @media screen and (max-width: $--screen-sm) {
        font-size: 36px;
    }
}

%subtitle {
    font-size: 32px;
    font-family: $--font-family-heading;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-weight: normal;

    @media screen and (max-width: $--screen-sm) {
        font-size: 20px;
    }
}

%textCenter {
    text-align: center;
}

%btn {
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;

    transition: transform .3s ease;

    &:hover {
        transform: scale(1.05);
    }
}