$--font-path: '../fonts/';

@font-face {
    font-family: 'Bebas Neue';
    src: url($--font-path + 'bebasneuecyrillic.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url($--font-path + 'Roboto-Light.ttf');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url($--font-path + 'Roboto-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url($--font-path + 'Roboto-Medium.ttf');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}