@import 'fonts';
@import 'variables';
@import 'extensions';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $--font-family-main;
    color: white;
    font-size: 16px;
    
    background-color: $--color-violet-dark;

    @media screen and (max-width: $--screen-sm) {
        font-size: 14px;
    }
}

img, picture {
    width: 100%;
    height: auto;
    display: block;
}

a {
    color: inherit;
}

.container {
    max-width: 1173px;
    margin: 0 auto;

    @media screen and (max-width: $--screen-lg) {
        padding: 0 1rem;
    }
}

.btn {
    @extend %btn;

    &-white {
        background-color: white;
        color: #231F20;
    }
    &-yellow {
        background-color: $--color-yellow;
        color: #231F20;
    }
    &-violet {
        background-color: $--color-violet-dark;
        color: white;
    }
    &-outline {
        color: white;
        border: 1px solid ;

        &-yellow {
            border-color: $--color-yellow;
            background-color: black;
        }
        &-white {
            background-color: transparent;
            border-color: white;
            font-weight: normal;
        }
    }

    &.extra-small {
        min-height: 42px;
        border-radius: 10px;
        padding: 5px 17px;
    }

    &.small {
        min-height: 47px;
        border-radius: 25px;
        padding: 5px 20px;
    }

    &.large {
        min-height: 77px;
        padding: 5px 60px;
        font-size: 24px;
        border-radius: 35px;

        @media screen and (max-width: $--screen-lg) {
            font-size: 1rem;
            min-height: 65px;
        }
        @media screen and (max-width: $--screen-sm) {
            min-height: 53px;
            padding: 5px 35px;
        }
    }
}


label {
    display: inline-block;
    background-color: $--color-violet;
    padding: 6px 20px;
    margin-bottom: 21px;
}
input {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    transition: border-color .3s ease;
    line-height: 64px;
    color: white;
    padding-left: 1em;

    &:focus {
        border-color: $--color-yellow;
    }
}