// typography
$--font-family-main: 'Roboto', sans-serif;
$--font-family-heading: 'Bebas Neue', sans-serif;


// colors
$--color-colar: #F15B56;
$--color-violet: #4F1F5D;
$--color-violet-dark: #120A2F;
$--color-yellow: #FFC700;
$--color-yellow-light: #FBF583;


// breakpoints
$--screen-lg: 1220px;
$--screen-md: 990px;
$--screen-sm: 767px;
$--screen-xs: 450px;
$--screen-xxs: 330px;